<ul id="dropdown1" class="dropdown-content">

  <li><a href="#!">Вход</a></li>
  <li><a href="#!">Регистрация</a></li>

</ul>

<nav class="#ffc400 amber accent-3">
  <div class="nav-wrapper">

    <a href="/" class="brand-logo" style="padding-left:10px">Shipping</a>

    <ul class="right hide-on-med-and-down">

      <li><a href="/newProduct">Новая посылка</a></li>
      <li><a href="/authorization">Вход</a></li>
      <li><a href="/registration">Регистрация</a></li>
      <li><a href="/account">Личный кабинет</a></li>



      <!-- Dropdown Trigger -->
      {{!-- <li><a class="dropdown-trigger" data-target="dropdown1">Вход</a></li> --}}


    </ul>

  </div>
</nav>
