 <div class="row container">
    <div class="col s12 m6">
      <div class="card #00897b teal darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{{ description }}}</span>
        </div>
        <div class="card-action ">
          <a href="/authorization"> {{{ action }}} </a>
          <a href="/registration"> {{{ reg_action }}} </a>
        </div>
      </div>
    </div>
  </div>