<div class="row container">
  <div class="col s12 m6">
    <div class="card #0097a7 cyan darken-2">
      <div class="card-content white-text">
        <span class="card-title"> {{ message }} </span>
      </div>
      <div class="card-action">
        <a href="/">Вернуться на главную страницу</a>
      </div>
    </div>
  </div>
</div>